<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>prefix</key>
	<dict/>
	<key>name</key>
	<dict/>
	<key>version</key>
	<dict/>
	<key>revision</key>
	<dict/>
	<key>epoch</key>
	<dict/>
	<key>categories</key>
	<dict/>
	<key>maintainers</key>
	<dict/>
	<key>description</key>
	<dict/>
	<key>long_description</key>
	<dict/>
	<key>homepage</key>
	<dict/>
	<key>platforms</key>
	<dict/>
	<key>master_sites</key>
	<dict/>
	<key>use_zip</key>
	<dict/>
	<key>checksums</key>
	<dict/>
	<key>patchfiles</key>
	<dict/>
	<key>depends_build</key>
	<dict/>
	<key>depends_lib</key>
	<dict/>
	<key>os.platform</key>
	<dict>
		<key>Constant</key>
		<true/>
	</dict>
	<key>os.version</key>
	<dict>
		<key>Constant</key>
		<true/>
	</dict>
	<key>os.major</key>
	<dict>
		<key>Constant</key>
		<true/>
	</dict>
	<key>os.arch</key>
	<dict>
		<key>Constant</key>
		<true/>
	</dict>
	<key>os.endian</key>
	<dict>
		<key>Constant</key>
		<true/>
	</dict>
	<key>worksrcpath</key>
	<dict>
		<key>Constant</key>
		<true/>
	</dict>
	<key>destroot</key>
	<dict>
		<key>Constant</key>
		<true/>
	</dict>
</dict>
</plist>
